* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

h1 {
  color: rgb(88, 88, 88);
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(160, 211, 224);
}

.snare-pad {
  background-color: rgb(224, 164, 208);
}

.hihat-pad {
  background-color: rgb(224, 194, 160);
}

.kick-pad.active {
  background: rgb(59, 197, 231);
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.hihat-pad.active {
  background: rgb(241, 158, 64);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-top: 5rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.pad {
  transition: all 0, 5s ease;
}

.play {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 10px;
}

select {
  padding: 1rem;
  font-size: 1rem;
  color: rgb(88, 88, 88);
}

.mute.active {
  background-color: grey;
}

.tempo {
  width: 30%;
  margin: auto;
  text-align: center;
}

.tempo-slider {
  width: 100%;
  -webkit-appearance: none;
  padding: 0.15rem;
  background-color: rgb(88, 88, 88);
  border-radius: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}

.tempo p {
  font-size: 1.5rem;
  color: rgb(88, 88, 88);
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
